body {
  text-align: center;
}
.spinner{
  font-size: 140px;
  animation: spin 2s infinite linear;
  position: absolute;
}

#chart {
    border: 1px solid black;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

